<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- HEAD -->
{{>email/head}}
<!-- /HEAD -->

<body bgcolor="#FFFFFF">

  <!-- HEADER -->
  {{>email/header}}
  <!-- /HEADER -->

  <!-- BODY -->
  <table class="body-wrap">
    <tr>
      <td></td>
      <td class="container" bgcolor="#FFFFFF">

        <div class="content">
          <table>
            <tr>
              <td>

                <h3>¡Nuevo Promoción solicitada, {{name}}!</h3>
                <p class="lead">
                  A través de la plataforma <strong>Mobi</strong>, usted recibió una solicitud de promoción.
                </p>

                <p class="lead">
                  A continuación, suministramos la información con la cual usted puede comunicarse con el usuario.
                </p>

                <table>
                  <tr>
                    <td>Cliente: </td>
                    <td>{{name}}</td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                  </tr>
                  <tr>
                    <td>Promocion: </td>
                    <td>{{promotion}}</td>
                  </tr>
                  <tr>
                    <td>Telefono: </td>
                    <td>{{phoneNumber}}</td>
                  </tr>
                </table>

                <p></p>



                <br/>
                <br/>

              </td>
            </tr>
          </table>
        </div>

      </td>
      <td></td>
    </tr>
  </table>
  <!-- /BODY -->

  <!-- FOOTER -->
  {{>email/footer}}
  <!-- /FOOTER -->

</body>

</html>
